/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache

app/Http/Controllers/cookies/

public/js/dev/chunks/
public/fonts/vendor/
public/mix-manifest.json
package-lock.json
composer.lock

README\.md

public/css/style.css
public/js/main.js
yarn.lock
*.lock
resources/js/views/pages/.DS_Store
*.development
.env.development

.env.production
